.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100vw;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
}

.navBarContent {
  max-width: 1080px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navBarContent a {
  height: 100%;
  width: 160px;
}

.navElements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #8f8f8f;
}

.navBarContent .active .navElements {
  color: #2881f5 !important;
}

.desktopDescriptions {
  display: block;
}

.mobileDescriptions {
  display: none;
}

@media screen and (min-width: 769px) {
  .navElements:hover {
    cursor: pointer;
    color: #000000;
  }
  .navElements:hover .icons{
    animation: shakeIcons 0.5s;
  }
}

@keyframes shakeIcons {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.navElements div {
  margin: 0 5px;
}

.navElements .icons {
  font-size: 28px;
}

.navBorder {
  display: none;
  background-color: #2881f5;
  height: 5px;
  width: 70px;
  position: absolute;
  left: calc(((60px + (25vw - 60px)) * 0) + (12.5vw - 35px));
  bottom: 0;
  transition: left 0.35s;
}

@media screen and (max-width: 768px) {
  .navBar {
    top: auto;
    bottom: 0;
    height: 54px;
    border-radius: 20px 20px 0 0;
  }
  .navBar .navBarContent {
    justify-content: space-around;
  }
  .navBarContent a {
    width: 60px;
  }
  .navElements {
    flex-direction: column;
  }
  .navElements .icons {
    font-size: 24px;
  }
  .desktopDescriptions {
    display: none;
  }
  .mobileDescriptions {
    display: block;
    font-size: 12px;
  }
  .navBorder {
    display: block;
  }
}